<section class="d-flex background-rodape justify-content-center align-items-center centerFooterOnSmallDevices">
    <div class="container row my-3">
        <div class="col-md-6">
            <img class="img-fluid w-50 pointer" src="https://i.imgur.com/d7ErmJ1.png" alt="">
        </div>
        <div class="col-md-3 d-flex flex-column justify-content-center align-items-end text-white centerFooterOnSmallDevices">
            <h3>Contato</h3>
            <a class="text-white" href="https://mail.google.com/mail/u/0/#inbox?compose=new">projetointegrador2021@gmail.com</a>
            <div class="d-flex justify-content-end align-items-end my-1">
                <a href=""> <i class="fab fa-linkedin tamanhoIcons btn-social"></i></a>

                <a href="https://github.com/raizesdobrasil2021"><i class="fab fa-github tamanhoIcons btn-social"></i></a>
            </div>
        </div>
        <div class="col-md-3 d-flex flex-column justify-content-center align-items-end text-white centerFooterOnSmallDevices">
            <h3>Links Úteis</h3>
            <p><a class="footer-links text-white" routerLink='/sobre-nos'>Sobre nós</a></p>
            <p><a class="footer-links text-white" href="https://github.com/raizesdobrasil2021/Back-End/issues" target="_blank">Faça sugestões</a></p>
        </div>
    </div>
</section>

<footer class="container-fluid background-footer d-flex justify-content-center align-items-center">
    <div class="row container text-white d-flex justify-content-center align-items-center w-100 centerFooterOnSmallDevices">
        <p class="m-2"><small>
        <h5 class="d-inline">raízesdobrasil</h5> | Todos os direitos reservados. © 2020 Copyright
      </small></p>
    </div>
</footer>