<!--<div class="footer navbar-fixed-bottom container-fluid background-rodape mt-5">
    <div class="row">
        <div class="col-md-5">
            <img src="https://i.imgur.com/d7ErmJ1.png" width="170px" height="115px" alt="Logo">
        </div>
        <div class="col-md-3 align-content-center justify-content-center">
            <h3 class="text-white ">Redes sociais</h3>
            <div class="row d-block ">
                    <ul>
                        <li>
                            <a href="www.facebook.com/raizedobrasil " class="text-white fs-16" target="_blanket"
                                class="icoFacebook"><i class="fab fa-facebook-square">
                                    Facebook.com/raizesdobrasil</i>
                            </a>
                        </li>
                        <li>
                            <a href="www.instagram.com/raizesdobrasil" target="_blanket" class="icoInstagram"><i
                                    class="fab fa-instagram"> Instagram.com/raizesdobrasil</i></a>
                        </li>
                        <li>
                            <a href="www.twitter.com/raizesdobrasil" target="_blanket" class="icoTwitter">
                                <i class="fab fa-twitter-square"> Twitter.com/raizesdobrasil</i></a>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="text-white">Duvidas</h3>
            <div class="row d-block">
                <ul>
                    <li>
                        <a href="" class="text-white"routerLink="/sobre-nos">Sobre nós</a>
                    </li>
                    <li>
                        <a href=""class="text-white">FAQ</a>
                    </li>
                    <li>
                        <a href=""class="text-white"routerLink="/cadastrar">Seja um colaborador</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>-->

<section class="d-flex background-rodape justify-content-center align-items-center centerFooterOnSmallDevices">
  <div class="container row my-3">
    <div class="col-md-6">
      <img class="img-fluid w-50 pointer" src="https://i.imgur.com/d7ErmJ1.png" alt="">
    </div>
    <div
      class="col-md-3 d-flex flex-column justify-content-center align-items-end text-white centerFooterOnSmallDevices">
      <h3>Contato</h3>
      <a class="text-white" href="https://mail.google.com/mail/u/0/#inbox?compose=new">projetointegrador2021@gmail.com</a>
      <div class="d-flex justify-content-end align-items-end my-1">
        <i class="fab fa-linkedin tamanhoIcons btn-social"> <a href=""></a></i>
        <i class="fab fa-github tamanhoIcons btn-social"> <a href="https://github.com/raizesdobrasil2021"></a></i>
      </div>
    </div>
    <div
      class="col-md-3 d-flex flex-column justify-content-center align-items-end text-white centerFooterOnSmallDevices">
      <h3>Links Úteis</h3>
      <p><a class="footer-links text-white" routerLink='/sobre-nos'>Sobre nós</a></p>
      <p><a class="footer-links text-white" href="https://github.com/raizesdobrasil2021/Back-End/issues"
          target="_blank">Faça sugestões</a></p>
    </div>
  </div>
</section>

<footer class="container-fluid background-footer d-flex justify-content-center align-items-center">
  <div
    class="row container text-white d-flex justify-content-center align-items-center w-100 centerFooterOnSmallDevices">
    <p class="m-2"><small>
        <h5 class="d-inline">raízesdobrasil</h5> | Todos os direitos reservados. © 2020 Copyright
      </small></p>
  </div>
</footer>
