<div class="footer navbar-fixed-bottom container-fluid background-rodape mt-5">
    <div class="row">
        <div class="col-md-5">
            <img src="https://i.imgur.com/d7ErmJ1.png" width="170px" height="115px" alt="Logo">
        </div>
        <div class="col-md-3 align-content-center justify-content-center">
            <h3 class="text-white ">Redes sociais</h3>
            <div class="row d-block ">
                    <ul>
                        <li>
                            <a href="www.facebook.com/raizedobrasil " class="text-white fs-16" target="_blanket"
                                class="icoFacebook"><i class="fab fa-facebook-square">
                                    Facebook.com/raizesdobrasil</i>
                            </a>
                        </li>
                        <li>
                            <a href="www.instagram.com/raizesdobrasil" target="_blanket" class="icoInstagram"><i
                                    class="fab fa-instagram"> Instagram.com/raizesdobrasil</i></a>
                        </li>
                        <li>
                            <a href="www.twitter.com/raizesdobrasil" target="_blanket" class="icoTwitter">
                                <i class="fab fa-twitter-square"> Twitter.com/raizesdobrasil</i></a>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="text-white">Duvidas</h3>
            <div class="row d-block">
                <ul>
                    <li>
                        <a href=""routerLink="/sobre-nos">Sobre nós</a>
                    </li>
                    <li>
                        <a href="">FAQ</a>
                    </li>
                    <li>
                        <a href="">Seja um colaborador</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



