.centralizar-links{
  margin: 0 auto;
}

.form-group .form-control {
  padding-left: 2.375rem;
}

.form-group .form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #f60;
}
  .backgroud-menu{
    background-color:#078c03;
  }
.fs-15{
  font-size:15pt;;

}
fa-search{
  font-size: 20px;
  color: white;
}
.fa-search:hover{
  color: #078c03;
}
#divBusca{
  background-color: white;
  border-radius:15px;
  width: 500px;
  display: flex;
  position: relative;
  }
  #txtBusca{
  float:left;
  background-color:transparent;
  padding-left: 20px;
  font-style:italic;
  font-size:15px;
  border:none;
  margin:auto;
  }
.dropdown-menu {
  background-color: #078c03;
}
.btn-1 {
  align-items:end;
  justify-content:end;
  display:flex;
  margin: auto;
}
.barra-pesquisa {
  background-color: #a6631c75;
}
