<div class="container-fluid backgroud-menu">
  <nav class="navbar-fluid navbar-expand-lg navbar-light centerNavBarOnSmallDevices">

    <div class="row justify-content-center d-flex align-items-center">
      <div class="col-md-3 justify-content-start align-items-center my-1">
        <a class="" routerLink='/inicio'><img src="https://i.imgur.com/g2FGUd1.png" width="140px"
          height="55px"></a>
      </div>


        <form class="col-md-6 d-flex justify-content-center align-items-center my-1">
          <div class="bar-pesquisa " id="divBusca">
            <input class="w-100 text-center" [(ngModel)]="busca" name="busca" type="search" id="txtBusca" placeholder="O que você procura?" />
            <button class="btn btn-1" type="submit" id="cor" (click)="refresh()"><i id="cor" class="fa fa-search"
                aria-hidden="true"></i></button>
          </div>
        </form>

        <div class="col-md-3 justify-content-center  d-flex align-items-center my-1">
        <div class="dropdown ">
          <a class="text-white  drop-section" *ngIf="authService.deslogado()" id="login" routerLink='/login'><i
              class="text-white fa fa-user-circle" aria-hidden="true"></i> Login</a>

          <a *ngIf="authService.logado()" class="btn dropdown-toggle" href="# " role="button " id="dropdownMenuLink "
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false ">Olá,
            {{authService.dadosUsuario().nome}}</a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

            <a *ngIf="authService.admin()" class="dropdown-item" routerLink="/cadastro-produto">Cadastrar
              produto</a>

            <a *ngIf="authService.admin()" class="dropdown-item" routerLink='/meus-produtos'>Meus
              produtos</a>

            <a *ngIf="authService.logado()" class="dropdown-item " (click)="sair()">Sair</a>

          </div>
        </div>
        <a *ngIf="authService.logado()" class="btn ml-1" data-toggle="modal" data-target="#carrinho-aviso-menu"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </div>
  </nav>
</div>


<div class="modal fade" id="carrinho-aviso-menu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center
                "id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center textoobg">
                O carrinho será adicionado em breve, obrigado, volte sempre :)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn-1">fechar</button>
            </div>
        </div>
    </div>
</div>