<div class="container-fluid">
    <div class="container">

        <div class="row mb-3">
            <div class="col-md-12">
                <h1 class="text-center">MEUS PRODUTOS</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 mb-3" *ngFor='let produto of usuario.produto'>
                <div class="card">
                    <img class="img-fluid" alt="Imagem do produto" src="{{produto.imagem}}">
                    <div class="card-body cardcor">

                        <div>
                            <small class="text-muted"> Categoria: {{produto.categoria.descricao}}</small>
                        </div>
                        <p class="card-text mt-3">{{produto.nome}}</p>
                        <p>R$ {{produto.preco.toFixed(2).replace('.', ',')}}</p>
                        <p class="card-text">
                            <small class="text-muted">
                            Data de validade do produto: {{produto.dtValidade | date : "dd/MM/yyyy"}}
                        </small>
                        </p>
                        <button class="btn mr-4" [routerLink]="['/produto-edit',produto.id]" id="btn-1">
                        Editar
                    </button>
                        <button class="btn" [routerLink]="['/produto-delete',produto.id]" id="btn-2">
                        Apagar
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>