/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.fs-56{
    font-size:48pt;
}

h1,h2,h3,span{
    font-family: 'Poppins',
    sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-weight: bold;
    color: #642B18;
    font-size: 1.4rem;
}
p{
    font-size:1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: semi-bold;
    color:#066b01
}
h2{
    font-size:1.8rem;
    font-family: 'Poppins', sans-serif;
    color:#a30461
}
small{
    font-size:0.9rem
}

#btn-1 {
    margin:auto;
    color: white;
    background-color: #642B18;
}

#btn-2 {
    margin:auto;
    color: white;
    background-color:#095d07;
}
#btn-1:hover{
    background-color:#3a1509
}
#btn-2:hover{
    background-color:#033101
}
.cardcor {
    background-color: rgba(192, 233, 216, 100);
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h5 {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: #098905;
    font-weight: semi-bold;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
