<div class="container">
    <div class="row d-flex text-center">
        <div class="col-md-12 mb-3 mt-3">
            <h1>SOBRE NÓS</h1>
        </div>
    </div>
    <div class="row h-100 justify-content-center align-items-center mt-3">
        <div class="col-md-6">
            <img src="https://i.imgur.com/9ly4XTQ.jpg" width="100%"
            height="100%">
        </div>
        <div class="col-md-6 text-center">
            <p>O site Raízes do Brasil idealizado a partir da ODS-11, cidades e comunidades sustentavéis, com o
                propósito de diminuir os efeitos colaterais da urbanização e do exôdo rural, conectando produtores do
                campo com consumidores da cidade partir da venda de produtos naturais, a fim de fomentar uma
                economia rural mais sustentável e uma alimentação mais saudável para as pessoas que vivem nas
                cidades.<br>
            
                Nossos alimentos são orgânicos e produzidos da maneira mais natural possivel, com nenhum agrotóxico,
                ou consevante em nossos produtos. Trabalhamos com mais de 800 produtores, todos certificados e auditados pelo IBD - a maior certificadora de orgânicos da América Latina - além de parcerias com cooperativas desde o Sul do País até a Amazônia.
            </p>
        </div>
    </div>

    <div class="row h-100 justify-content-center align-items-center mt-4">
        <div class="col-md-6 text-center">
            <p>

                Queremos valorizar e empoderar o agricultor familiar, oferecendo todo o suporte que ele precisa, desde o acompanhamento técnico do plantio e colheita até a comercialização dos seus itens por um preço justo.

                Recentemente, recebemos a certificação de empresa, concedida pelo Sistema B. O movimento global criado nos Estados Unidos busca criar um ecossistema de empresas que tem como missão redefinir o conceito de sucesso, unindo o lucro a benefícios socioambientais. </p>
        </div>
        <div class="img col-md-6 mt-5 mb-5">
            <img src="https://i.imgur.com/S6kPOhO.jpg" width="440px" height="300">
        </div>

    </div>
    <div class="container background-cores">
        <div class="row d-flex my-5 justify-content-center">
            <div class="col-md-12">
                <p class="text-center">
                    Conheça mais sobre a equipe que desenvolveu o Raizes Do Brasil 
                </p>
            </div>
        </div>

        <div class="row d-flex justify-content-center py-2 pointer text-center">

            <div class="card-deck">
                <div class="col-md-3 my-2">
                    <div class="card card-radius">
                        <img class="card-img-top img-radius" src="https://i.imgur.com/xo9MKsz.jpg" width="100px" height="180px"
                            alt="Card image cap1">
                        <div class="card-body">
                            <h5 class="card-title">Felipe Honda</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime rerum incidunt
                                expedita esse.</p>
                            <div class="row d-flex justify-content-center py-2 pointer text-center">
        
                                <i class="fab fa-linkedin mr-4"> <a href="https://www.linkedin.com/in/felipe-honda/"></a></i>
        
                                <i class="fab fa-github"> <a href="https://github.com/kendy09"></a></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="card card-radius">
                        <img class="card-img-top img-radius" src="https://i.imgur.com/RLN1GLA.jpg" width="90px" height="190px"
                            alt="Card image cap2">
                        <div class="card-body">
                            <h5 class="card-title">Jessica Discola</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime rerum
                                incidunt
                                expedita esse.</p>
                            <div class="row d-flex justify-content-center py-2 pointer text-center">
        
                                <i class="fab fa-linkedin mr-4"> <a href="https://www.linkedin.com/in/jessica-discola/"></a></i>
        
                                <i class="fab fa-github"> <a href="https://github.com/jehdiscola"></a></i>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-3 my-2">
                    <div class="card card-radius">
                        <img class="card-img-top img-radius" src="https://i.imgur.com/NH1t0oQ.jpg" width="75px" height="180px"
                            alt="Card image cap3">
                        <div class="card-body">
                            <h5 class="card-title">Milena Coutinho</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime rerum
                                incidunt
                                expedita esse.</p>
                            <div class="row d-flex justify-content-center py-2 pointer text-center">
        
                                <i class="fab fa-linkedin mr-4"> <a href="https://www.linkedin.com/in/micouti/"></a></i>
        
                                <i class="fab fa-github"> <a href="https://github.com/micouti"></a></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="card card-radius">
                        <img class="card-img-top img-radius" src="https://i.imgur.com/9DnG763.jpg" width="75px" height="180px"
                            alt="Card image cap4">
                        <div class="card-body">
                            <h5 class="card-title">Wesley Santana</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime rerum
                                incidunt
                                expedita esse.</p>
                            <div class="row d-flex justify-content-center py-2 pointer text-center">
        
                                <i class="fab fa-linkedin mr-4"> <a href="https://www.linkedin.com/in/devwesley/"></a></i>
        
                                <i class="fab fa-github"> <a href="https://github.com/devwesley"></a></i>
                            </div>
                        </div>
                    </div>
                </div>
</div>


