<div class="container">
  <div class="row d-flex text-center">
    <div class="col-md-12 mb-3 mt-3">
      <h1>SOBRE NÓS</h1>
    </div>
  </div>
  <div class="row h-100 justify-content-center align-items-center mt-3">
    <div class="col-md-6">
      <img class="img-radius" src="https://i.imgur.com/9ly4XTQ.jpg" width="100%" height="300px">
    </div>
    <div class="col-md-6 text-center">
      <p>O site Raízes do Brasil idealizado a partir da ODS-11, cidades e comunidades sustentavéis, com o propósito de
        diminuir os efeitos colaterais da urbanização e do exôdo rural, conectando produtores do campo com consumidores da cidade partir da venda de produtos naturais, a fim de fomentar uma economia rural mais sustentável, e uma alimentação mais saudável para as pessoas que vivem nas cidades.
      </p>
    </div>
  </div>

  <div class="row h-100 justify-content-center align-items-center mt-4">
    <div class="col-md-6 text-center">
      <p>

        Queremos valorizar e empoderar o agricultor familiar, oferecendo todo o suporte que ele precisa, desde o
        acompanhamento técnico do plantio e colheita até a comercialização dos seus itens por um preço justo.
        Recentemente, recebemos a certificação de empresa, concedida pelo Sistema B. O movimento global criado nos Estados Unidos busca criar um ecossistema de empresas que tem como missão redefinir o conceito de sucesso, unindo o lucro a benefícios socioambientais. </p>
    </div>
    <div class="img col-md-6 mt-5 mb-5">
      <img class="img-radius" src="https://i.imgur.com/S6kPOhO.jpg" width="100%" height="310px">
    </div>

  </div>
</div>


<div class="container">
  <div class="team-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center">
            <br>
            <h3>Conheça mais sobre a equipe que desenvolveu o Raizes Do Brasil</h3>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 col-9 justify-content-center">
        <div class="single-team">
          <div class="team-img">
            <img height="260px" src="https://i.imgur.com/xo9MKsz.jpg" width="" alt="Foto do desenvolvedor Felipe Honda" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Felipe Honda</h3>
              <p>Web developer</p>
            </div>
            <p class="team-text">
              Aficionado por tecnologia. Acredito que a mesma deva ajudar a romper as barreira fisicas e sociais. Formado em engenharia de controle e automação, atualmente em transição de carreira para área de TI.
            </p>
          </div>
        </div>
        <div class="wrapper justify-content-center">
          <ul class="social-icons icon-circle list-unstyled list-inline">
            <li> <a href="https://www.linkedin.com/in/felipe-honda" target="_blank"><i
                  class="fab fa-linkedin-in"></i></a></li>
            <li> <a href="https://github.com/kendy09" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-9 justify-content-center">
        <div class="single-team">
          <div class="team-img">
            <img height="260px" src="https://i.imgur.com/RLN1GLA.jpg" alt="Foto da desenvolvedora Jessica Discola" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Jessica Discola</h3>
              <p>Web developer</p>
            </div>
            <p class="team-text">
              Migrando de carreira para uma área que sempre gostei: Tecnologia. A curiosidade é o que me move e faz com
              que eu nunca queira parar de aprender. Acredito na tecnologia como vetor de mudança para problemas
              cotidianos e sociais.
              #maismulheresnatecnologia
            </p>
          </div>
        </div>
        <div class="wrapper justify-content-center">
          <ul class="social-icons icon-circle list-unstyled list-inline">
            <li> <a href="https://www.linkedin.com/in/jessica-discola" target="_blank"><i
                  class="fab fa-linkedin-in"></i></a></li>
            <li> <a href="https://github.com/jehdiscola" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-9 justify-content-center">
        <div class="single-team">
          <div class="team-img">
            <img height="260px" src="https://i.imgur.com/NH1t0oQ.jpg" alt="Foto da desenvolvedora Milena Coutinho" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Milena Coutinho</h3>
              <p>Web developer</p>
            </div>
            <p class="team-text">
              Desenvolvedora web junior e Vendedora. Apaixonada pela arte de vendas como um todo e recentemente bastante curiosa e instigada quanto a tecnologia, despertada quanto a esse novo universo cheio de possibilidades para criar.
              #maismulheresnatecnologia
            </p>
          </div>
        </div>
        <div class="wrapper justify-content-center">
          <ul class="social-icons icon-circle list-unstyled list-inline">
            <li> <a href="https://www.linkedin.com/in/micouti" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li> <a href="https://github.com/micouti" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-9 justify-content-center">
        <div class="single-team">
          <div class="team-img">
            <img height="260px" src="https://i.imgur.com/9DnG763.jpg" alt="Foto do desenvolvedor Wesley Santana" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Wesley Santana</h3>
              <p>Web developer</p>
            </div>
            <p class="team-text">
              Fissurado pela tecnologia. Capaz de mudar o mundo, a tecnologia é a area mais promissora e diversa, e isso é o que busco: ser e criar soluções para um mundo melhor por intermédio da mesma.
            </p>
          </div>
        </div>
        <div class="wrapper justify-content-center">
          <ul class="social-icons icon-circle list-unstyled list-inline">
            <li> <a href="https://www.linkedin.com/in/devwesley" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li> <a href="https://github.com/DevWesleys" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
