<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class=" carousel-item active">
            <img class="edit-img d-block w-100 img-fluid" src="https://i.imgur.com/Vmvxc8d.jpg" alt="Imagem 1 carousel Amazônia">
            <div class="carousel-caption">
                <h2 class="edit-font-carousel">conheça as nossas
                    <span>Ofertas</span>
                </h2>
                <h3 class="text">Os melhores produtos, pelos melhores preços.
                </h3>
            </div>
        </div>
        <div class="carousel-item">
            <img class="edit-img d-block w-100 img-fluid" src="https://i.pinimg.com/originals/4d/9a/71/4d9a712dfeadd3cb26acd602b643aa10.jpg" alt="Imagem 2 carousel Criação">
            <div class="fundo">
                <div class="carousel-caption">
                    <h2 class="edit-font-carousel">conheça as nossas
                        <span>Ofertas</span>
                    </h2>
                    <h3 class="text">Muito se fala sobre como preservar essa riqueza e não tem como a gente não lembrar das comunidades locais! Que tal promover o artesanato local a partir de produtos sustentáveis? Pronto pra se apaixonar? :)</h3>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="edit-img d-block w-100 img-fluid" src="https://i.imgur.com/I3vRM7h.jpg" alt="Imagem 3 carousel Cesto">
            <div class="carousel-caption">
                <h2 class="edit-font-carousel">e
                    <span>PORQUÊ?</span>
                </h2>
                <h3 class="text">Porque valorizar quem vive na floresta, gerar renda e promover melhores condições de vida, significa apoiar quem protege nosso patrimônio e mantém viva a cultura das diferentes etnias e formas de manifestação cultural.
                </h3>
            </div>
        </div>
        <div class="carousel-item">
            <img class="edit-img d-block w-100 img-fluid" src="https://i.imgur.com/AUg1rUv.jpg" alt="Imagem 3 carousel Comunidade">
            <div class="carousel-caption">
                <h2 class="edit-font-carousel">conheça as
                    <span>COMUNIDADES</span>
                </h2>
                <h5 class="text">A gente acredita na nossa gente!</h5>
                <p class="edit-font-carousel animated zoomIn" style="animation-delay:3s">
                    <a [routerLink]="'/comunidades'">Conhecer!</a>
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<div class="row my-5">
    <div class="col-md-12 text-center">
        <a class="conheca" [routerLink]="['/sobre-nos']">Raízes do Brasil</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 parag1">
            <h1>Texto 1</h1>
            <p class="parag1">É fundamental promover ações voltadas à conservação dos ativos da floresta Amazônica e à melhoria da qualidade de vida da população local. Estimular alternativas econômicas que valorizam a floresta em pé, contribuem para a redução de desmatamentos
                e estabelecem novos referenciais de desenvolvimento para as gerações atuais e futuras.
            </p>
            <p class="parag1">O artesanato confeccionado pelas mãos talentosas dos caboclos e indígenas é algo imutável e característico, que traduz a cultura do povo amazonense por meio de um dom que é passado de geração a geração. A inspiração? A natureza e sua exuberância.
            </p>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 parag2">
            <h1>Texto 2</h1>
            <p class="parag2">É uma arte, é um modo de vida, é criar laços e eternizar uma cultura. Da coleta de elementos naturais da floresta para tecer, trançar, criar, tingir, até o momento de esculpir e lapidar, é tudo feito com imenso cuidado, amor e cooperação.
            </p>
            <p class="parag2">A iniciativa junto às comunidades ribeirinhas, tem como viés o consumo consciente por meio da criação de produtos sustentáveis, disseminando a ideia de que é possível produzir bens de consumo a partir do uso eficiente dos recursos da floresta
                e respeitando quem participa ativamente dessa produção.
            </p>
        </div>
    </div>
</div>


<div class="container">

    <p class="conheca">Categorias</p>

    <div class="row d-flex align-items-center justify-content-center">


        <div class="col-md-2 d-flex flex-column align-items-center my-2">
            <div class="text-center ">
                <a class="categorias" routerLink="/categoria/1" href="">Frutas</a>
                <i class='fas fa-apple-alt  tamIconsCat mr-1 pointer' routerLink='/categoria/1'></i>
            </div>
        </div>
        <div class="col-md-2 d-flex flex-column align-items-center my-2">
            <div class="text-center ">
                <a class="categorias" routerLink='/categoria/2' href="">Verduras</a>
                <i class='fas fa-leaf text-center tamIconsCat pointer' routerLink='/categoria/2'></i>
            </div>
        </div>
        <div class="col-md-2 d-flex flex-column align-items-center my-2">
            <div class="text-center ">
                <a class="categorias" routerLink='/categoria/3' href="">Legumes</a>
                <i class='fas fa-carrot tamIconsCat pointer' routerLink='/categoria/3'></i>
            </div>
        </div>

        <div class="col-md-2 d-flex flex-column align-items-center my-2">
            <div class="text-center">
                <a class="categorias" routerLink='/categoria/4' href="">Merceária</a>
                <i class="fas fa-store-alt tamIconsCat  pointer" routerLink='/categoria/4'></i>
            </div>
        </div>

        <div class="col-md-2 d-flex flex-column align-items-center my-2">
            <div class="text-center ">
                <a class="categorias" routerLink='/categoria/5' href="">Bebidas</a>
                <i class="fas fa-wine-bottle tamIconsCat pointer" routerLink='/categoria/5'></i>
            </div>
        </div>

        <div class="col-md-2 d-flex flex-column align-items-center my-2">
            <div class="text-center">
                <a class="categorias" routerLink='/categoria/6' href="">Laticínios</a>
                <i class="fas fa-cheese tamIconsCat " routerLink='/categoria/6'></i>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="col-md-2 mt-5 mb-5 text-center">
            <a class="conheca" routerLink="/todos-produtos" ref="#" id="produtos-link">Produtos</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/31">
                    <img class="img-fluid" alt="Abacaxi" src="https://i.imgur.com/0NQy2Ij.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Fruta</small></p>
                        <h2 class="card-title">Abacaxi</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 3,20</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/31">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/38">
                    <img class="img-fluid cursor-pointer" alt="Mel" src="https://i.imgur.com/rdR3tnL.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Mercearia</small></p>
                        <h2 class="card-title">Mel</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 25,00</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/38">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/34">
                    <img class="img-fluid" alt="Pimenta" src="https://i.imgur.com/mQrRfaX.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Mercearia</small></p>
                        <h2 class="card-title">Pimenta</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 8,90</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/34">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/24">
                    <img class="img-fluid" alt="Pão" src="https://i.imgur.com/Z1p9utl.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Mercearia</small></p>
                        <h2 class="card-title">Pão</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 8,90</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/24">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/54">
                    <img class="img-fluid" alt="Couve" src="https://feirinha.vercel.app/_next/image?url=https%3A%2F%2Fraizs.vteximg.com.br%2Farquivos%2Fids%2F162024%2FCouve-Roxa.jpg%3Fv%3D637292597885300000&w=640&q=75">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Verdura</small></p>
                        <h2 class="card-title">Couve</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 5,60</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/54">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/43">
                    <img class="img-fluid" alt="Café" src="https://i.imgur.com/ZPsAgSb.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Merceria</small></p>
                        <h2 class="card-title">Cafe</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 3,90</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/43">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/11">
                    <img class="img-fluid" alt="Melancia" src="https://i.imgur.com/ryKK28p.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Fruta</small></p>
                        <h2 class="card-title">Melancia</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 22,55</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/11">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/31">
                    <img class="img-fluid" alt="Farofa" src="https://i.imgur.com/U7ySIjC.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Mercearia</small></p>
                        <h2 class="card-title">Farofa</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 3,20</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/103">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/13">
                    <img class="img-fluid" alt="Queijo" src="https://i.imgur.com/xE41beZ.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Laticínios</small></p>
                        <h2 class="card-title">Queijo</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 6,40</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/13">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>