<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class=" carousel-item active">
            <img class="edit-img d-block w-100 img-fluid" src="https://i.imgur.com/Vmvxc8d.jpg" alt="Imagem 1 carousel Amazônia">
            <div class="carousel-caption">
                <h2 class="edit-font-carousel">Conheça o
                    <span>Raízes do Brasil</span>
                </h2>
                <h3 class="text">Projeto criado para auxiliar o homem do campo.
                </h3>
            </div>
        </div>
        <div class="carousel-item">
            <img class="edit-img d-block w-100 img-fluid" src="https://i.pinimg.com/originals/4d/9a/71/4d9a712dfeadd3cb26acd602b643aa10.jpg" alt="Imagem 2 carousel Criação">
            <div class="fundo">
                <div class="carousel-caption">
                    <h2 class="edit-font-carousel">Prover alimentação saudavel a
                        <span>cidade</span>
                    </h2>
                    <h3 class="text">conectando produtores do campo com consumidores locais a partir da venda de produtos naturais.</h3>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="edit-img d-block w-100 img-fluid" src="https://i.imgur.com/I3vRM7h.jpg" alt="Imagem 3 carousel Cesto">
            <div class="carousel-caption">
                <h2 class="edit-font-carousel">Queremos valorizar e empoderar o agricultor
                    <span>familiar</span>
                </h2>
                <h3 class="text">Desde o acompanhamento técnico do plantio e colheita até a comercialização dos seus itens por um preço justo.
                </h3>
            </div>
        </div>
        <div class="carousel-item">
            <img class="edit-img d-block w-100 img-fluid" src="https://i.imgur.com/AUg1rUv.jpg" alt="Imagem 3 carousel Comunidade">
            <div class="carousel-caption">
                <h2 class="edit-font-carousel">Conheça mais um pouco <span>sobre nós</span>
                </h2>
                <h5 class="text"></h5>
                <p class="edit-font-carousel animated zoomIn" style="animation-delay:3s">
                    <a [routerLink]="'/sobre-nos'">Conhecer!</a>
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<div class="row my-5">
    <div class="col-md-12 text-center">
        <a class="conheca" [routerLink]="['/sobre-nos']">Raízes do Brasil</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 parag1">
            <h1>Mercado de produtos orgânicos</h1>
            <p class="parag1">Cada vez mais, a inserção de alimentos saudáveis na alimentação diária acontece, principalmente, pela preocupação com a saúde. Os orgânicos, cultivados de maneira sustentável na agricultura orgânica ou biológica, são livres de adubos químicos,
                aditivos sintéticos, hormônios e agrotóxicos, e enriquecem o cardápio. Segundo a Associação de Promoção dos Orgânicos (Organis), no primeiro semestre de 2020, a venda de produtos orgânicos teve crescimento de mais de 50% no Brasil.
            </p>
            <p class="parag1">O Brasil está se consolidando como um grande produtor e exportador de alimentos orgânicos, com mais de 15 mil propriedades certificadas e em processo de transição – 75% pertencentes a agricultores familiares.
            </p>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 parag2">
            <h1>Benefícios de produtos orgânicos</h1>
            <p class="parag2">Os orgânicos possuem mais nutrientes, são mais saborosos, garantem uma fonte saudável de alimento e ainda colaboram para um meio de vida mais sustentável, uma vez que os agricultores tratam o meio ambiente com o respeito necessário.
            </p>
            <p class="parag2">Uma das diferenças entre o alimento orgânico e o tradicional é essa potencialidade que ele tem de carregar mais defesas naturais. O licopeno encontrado no tomate, por exemplo, é um poderoso antioxidante que retarda o envelhecimento e pode
                ajudar a prevenir alguns tipos de câncer, entre eles o de próstata. Já o caroteno da cenoura combate infecções e atua de forma benéfica nas artérias, reduzindo o risco de infarto.
            </p>
        </div>
    </div>
</div>


<div class="container">

    <p class="conheca">Categorias</p>

    <div class="row d-flex align-items-center justify-content-center">


        <div class="col-md-2 d-flex flex-column align-items-center my-2">
            <div class="text-center ">
                <a class="categorias" routerLink="/categoria/1" href="">Frutas</a>
                <i class='fas fa-apple-alt  tamIconsCat mr-1 pointer' routerLink='/categoria/1'></i>
            </div>
        </div>
        <div class="col-md-2 d-flex flex-column align-items-center my-2">
            <div class="text-center ">
                <a class="categorias" routerLink='/categoria/2' href="">Verduras</a>
                <i class='fas fa-leaf text-center tamIconsCat pointer' routerLink='/categoria/2'></i>
            </div>
        </div>
        <div class="col-md-2 d-flex flex-column align-items-center my-2">
            <div class="text-center ">
                <a class="categorias" routerLink='/categoria/3' href="">Legumes</a>
                <i class='fas fa-carrot tamIconsCat pointer' routerLink='/categoria/3'></i>
            </div>
        </div>

        <div class="col-md-2 d-flex flex-column align-items-center my-2">
            <div class="text-center">
                <a class="categorias" routerLink='/categoria/4' href="">Merceária</a>
                <i class="fas fa-store-alt tamIconsCat  pointer" routerLink='/categoria/4'></i>
            </div>
        </div>

        <div class="col-md-2 d-flex flex-column align-items-center my-2">
            <div class="text-center ">
                <a class="categorias" routerLink='/categoria/5' href="">Bebidas</a>
                <i class="fas fa-wine-bottle tamIconsCat pointer" routerLink='/categoria/5'></i>
            </div>
        </div>

        <div class="col-md-2 d-flex flex-column align-items-center my-2">
            <div class="text-center">
                <a class="categorias" routerLink='/categoria/6' href="">Laticínios</a>
                <i class="fas fa-cheese tamIconsCat " routerLink='/categoria/6'></i>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="col-md-2 mt-5 mb-5 text-center">
            <a class="conheca" routerLink="/todos-produtos" ref="#" id="produtos-link">Produtos</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/31">
                    <img class="img-fluid" alt="Abacaxi" src="https://i.imgur.com/0NQy2Ij.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Fruta</small></p>
                        <h2 class="card-title">Abacaxi</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 3,20</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/31">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/38">
                    <img class="img-fluid cursor-pointer" alt="Mel" src="https://i.imgur.com/rdR3tnL.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Mercearia</small></p>
                        <h2 class="card-title">Mel</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 25,00</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/38">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/34">
                    <img class="img-fluid" alt="Pimenta" src="https://i.imgur.com/mQrRfaX.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Mercearia</small></p>
                        <h2 class="card-title">Pimenta</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 8,90</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/34">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/24">
                    <img class="img-fluid" alt="Pão" src="https://i.imgur.com/Z1p9utl.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Mercearia</small></p>
                        <h2 class="card-title">Pão</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 8,90</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/24">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/54">
                    <img class="img-fluid" alt="Couve" src="https://feirinha.vercel.app/_next/image?url=https%3A%2F%2Fraizs.vteximg.com.br%2Farquivos%2Fids%2F162024%2FCouve-Roxa.jpg%3Fv%3D637292597885300000&w=640&q=75">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Verdura</small></p>
                        <h2 class="card-title">Couve</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 5,60</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/54">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/43">
                    <img class="img-fluid" alt="Café" src="https://i.imgur.com/ZPsAgSb.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Merceria</small></p>
                        <h2 class="card-title">Café</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 3,90</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/43">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/11">
                    <img class="img-fluid" alt="Melancia" src="https://i.imgur.com/ryKK28p.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Fruta</small></p>
                        <h2 class="card-title">Melancia</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 22,55</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/11">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/31">
                    <img class="img-fluid" alt="Farofa" src="https://i.imgur.com/U7ySIjC.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Mercearia</small></p>
                        <h2 class="card-title">Farofa</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 3,20</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/103">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cursor-pointer" routerLink="/produto/13">
                    <img class="img-fluid" alt="Queijo" src="https://i.imgur.com/xE41beZ.png">
                    <div class="card-body cardcor  text-center justify-content-center">
                        <p><small id="categoria">categoria: Laticínios</small></p>
                        <h2 class="card-title">Queijo</h2>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <p class="preco">R$ 6,40</p>
                            </div>
                            <div class="col-md-6">
                                <a class="btn" id="btn-2" routerLink="/produto/13">Ver produto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>