<div class="container-fluid d-flex justify-content-center">
    <div class="row alinhamento">
        <div class="row d-flex">
            <div class="col-md-10">
                <h1 class="text-center">Atualizar produto</h1>

                <div class="form-group">
                    <label for="nome">Nome do produto</label>
                    <input [(ngModel)]="produto.nome" class="form-control" type="text" name="nome" id="nome" placeholder="Digite o nome do produto">
                </div>

                <div class="form-group">
                    <a for="imagemproduto">URL da imagem</a>
                    <input [(ngModel)]="produto.imagem" class="form-control" type="text" name="imagemproduto" id="imagemproduto" placeholder="Insira a URL da imagem">
                </div>

                <div class="form-group">
                    <label for="categoria">Selecione a categoria do produto</label>
                    <select name="categoria" id="categoria" class="form-control" type="number" (change)="produtoCategoria($event)">
            <option>Escolha um tipo de categoria</option>
            <option value="1">Frutas</option>
            <option value="2">Verduras</option>
            <option value="3">Legumes</option>
            <option value="4">Mercearia</option>
            <option value="5">Bebidas e laticínios</option>
          </select>

                    <div class="form-group">
                        <label for="quantidade">Quantidade à venda</label>
                        <input [(ngModel)]='produto.quantidade' type="number" class="form-control" id="quantidade" placeholder="Ex.: 10">
                    </div>

                    <div class="form-group">
                        <label for="valor">Preço</label>
                        <div class="d-flex align-items-center">
                            <input currencyMask [(ngModel)]='produto.preco' class="form-control" id="valor" placeholder="Ex.: 2,25">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="dtValidade">Data de validade do produto</label>
                        <input class="form-control" type="date" name="dtValidade" id="dtValidade" [(ngModel)]="produto.dtValidade">
                    </div>

                    <div class="d-flex justify-content-around">
                        <button class="btn mr-5 px-5" routerLink="/meus-produtos" id="btn-1">
              Cancelar
            </button>
                        <button class="btn px-5 " (click)="atualizarProduto()" id="btn-2">
              Atualizar
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>